* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#game {
    background-color: darkcyan;
}

#memo {
    width: 90%;
    margin: auto;
}

#themeFrame {
    display: flex;
    flex-wrap: wrap;
}

#themeFrame div {
    width: 10em;
    height: 15em;
    border: 1px solid black;
    border-radius: 15px;
}
