* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

#game {
    font-size: 2vw;
    background-color: darkcyan;
    background-size: cover;
    background-repeat: no-repeat;
}

#choice {
    width: 90%;
    margin: auto;
}

#memo, #theme, #level, #start {
    padding: 1vh 1vw;
    display: flex;
    justify-content: space-evenly;
}

#theme div {
    margin: 1rem 1rem;
    width: 20rem;
    min-height: 25rem;
    justify-content: center;
}

#level {
    background-color: white;
    margin: auto;
}

#level div {
    background-color: darkslategrey;
    width: 10%;
    border-radius: 5px;
    text-align: center;
}

#choiceN {
    height: 3rem;
}

