* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

#game {
    background-color: darkcyan;
}

#choice {
    width: 90%;
    margin: auto;
    font-size: 2vw;
}

#memo, #theme, #level, #start {
    padding: 1vh 1vw;
    display: flex;
    justify-content: space-evenly;
}

#theme div {
    margin: 0 2px;
    border-radius: 10px;
    justify-content: center;
    background: darkslategrey;
}

#level {
    background-color: white;
    margin: auto;
}

#level div {
    background-color: darkslategrey;
    width: 10%;
    border-radius: 5px;
    text-align: center;
}

